/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

	th.table-center,
	.table-center {
		text-align: center;
	}

	.float-right {
		float: right;
	}

	.bpp-input > input[type="checkbox"] {
		width: 35px;
		height: 25px;
		border-radius: 10px;
		position: relative;
	}

	.bpp-input > input[type="checkbox"]::before {
		content: "";
		width: 67%;
		height: 100%;
		border: 1px solid #c4c4c4;
		background: #fff;
		border-radius: 10px;
		position: absolute;
		top: -1px;
		left: -5px;
		z-index: 20;
		box-shadow: 0 3px 2px -2px gray;
	} 

	.bpp-input > input[type="checkbox"]:checked {
		background: #4CE071;
	}

	.bpp-input > input[type="checkbox"]:checked::before {
		content: "";
		width: 67%;
		height: 100%;
		position: absolute;
		top: 2px;
		left: 20px;
		right: 0;
		border: 1px solid #4CE071;
	} 

	.bpp-input > input[type="checkbox"]:checked {
		transition: 250ms linear;
	}

	tr > .vertical-middle {
		vertical-align: middle;
	}
